.dashoard-main-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.dashoard-main-container h1 {
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .add-prop-modal .ant-modal-title {
    text-align: center !important;
    font-family: "Inter";
  }
  .ant-modal-root .ant-modal-centered .add-prop-modal {
    vertical-align: bottom;
    padding-bottom: -5px;
    margin: 0px;
    max-width: 100vw;
  }
  .add-prop-modal .ant-modal-content {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

/* Top Section */
.financial-data-container {
  height: 120px;
  width: 90%;
  max-width: 500px;
  margin: auto;
  overflow-x: scroll;
  background-color: #fff;
  -webkit-box-shadow: -4px 12px 24px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 12px 24px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 12px 24px -3px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  margin-bottom: 20px;
}
.financial-data-container::-webkit-scrollbar {
  display: none;
}
