.header-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.header-container .back-icon {
  height: 32px;
  width: 32px;
  padding: 7px;
  border: 1px solid #d8dadc;
  border-radius: 10px;
  cursor: pointer;
}
.header-container .logo {
  height: 46px;
  width: 46px;
}
